<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%=title%>
  </title>

</head>

<body>
  <h1>
    <%=title%>
  </h1>
  <p><a href="/list">리스트</a></p>
  <table width="600" border="1">
    <tr>
      <th>글번호</th>
      <td>
        <%=row.num%>
      </td>
    </tr>
    <tr>
      <th>제목</th>
      <td>
        <%=row.subject%>
      </td>
    </tr>
    <tr>
      <th>날짜</th>
      <td>
        <%=row.regdate%>
      </td>
    </tr>
    <tr>
      <th>내용</th>
      <td>
        <%=row.content%>
      </td>
    </tr>
    <tr>
      <th>조회수</th>
      <td>
        <pre><%=row.hit%></pre>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="button" value="수정" onclick="go_update()">
        <input type="button" value="삭제" onclick="go_delete()">
      </td>
    </tr>
  </table>
  <script>
    function go_update() {
      location.href = "/updateform/<%=row.num%>";
    }

    function go_delete() {
      location.href = "/deleteform/<%=row.num%>";
    }
  </script>
</body>

</html>